<div class="mission-wrapper">
    <div class="mission-header">
        <h2>Missions</h2>
        <button (click)="addMission()" class="add-btn">+ Add Mission</button>
    </div>

    <table class="mission-table">
        <thead>
            <tr>
                <th>Title</th>
                <th>Start Date</th>
                <th>End Date</th>
                <th>City</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let mission of missions">
                <td>{{ mission.missionTitle }}</td>
                <td>{{ mission.startDate | date:'mediumDate' }}</td>
                <td>{{ mission.endDate | date:'mediumDate' }}</td>
                <td>{{ mission.city }}</td>
                <td>
                    <button (click)="editMission(mission)" class="icon-btn">
                        <i class="fas fa-pen"></i>
                    </button>
                    <button (click)="deleteMission(mission.id)" class="icon-btn delete">
                        <i class="fas fa-trash"></i>
                    </button>
                </td>

            </tr>
        </tbody>
    </table>
</div>