.dashboard-wrapper {
    display: flex;
    flex-direction: row;
}

.hamburger {
    display: none;
    position: fixed;
    top: 10px;
    left: 10px;
    background-color: #fff;
    color: #ff8c00;
    border: none;
    font-size: 15px;
    z-index: 1001;
    cursor: pointer;
}

@media (max-width: 768px) {
    .hamburger {
        display: block;
    }

    app-sidebar {
        position: fixed;
        left: 0;
        top: 0;
        height: 100vh;
        transform: translateX(-100%);
        transition: transform 0.3s ease-in-out;
        z-index: 1000;
        width: 220px;
    }

    app-sidebar[collapsed="false"] {
        transform: translateX(0);
    }

    .main-content {
        margin-left: 0 !important;
        padding: 20px;
        width: 100%;
    }
}

.main-content.shifted {
    margin-left: 220px;
}